BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Times, "Times New Roman", serif; TEXT-ALIGN: left
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #002bb8; TEXT-DECORATION: none
}
A:visited {
	COLOR: #660099
}
A:active {
	COLOR: #faa700
}
A:hover {
	COLOR: #faa700; TEXT-DECORATION: underline
}
TABLE.loginform {
	BORDER-RIGHT: #668b8b 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #668b8b 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN: 20px; BORDER-LEFT: #668b8b 1px solid; PADDING-TOP: 20px; BORDER-BOTTOM: #668b8b 1px solid; BACKGROUND-COLOR: #fff
}
TABLE.loginform TR {
	PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
TABLE.loginform TD.title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: 900; FONT-SIZE: 12pt; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #668b8b 1px solid; BACKGROUND-COLOR: #b4cdcd
}
TABLE.loginform TD.label {
	PADDING-RIGHT: 1px; MARGIN: 0px; TEXT-ALIGN: right
}
TABLE.loginform .errortip {
	COLOR: red
}


TABLE.common {
	TABLE-LAYOUT: auto; BORDER-TOP: #000 1px solid; FONT-SIZE: 0.9em; BORDER-LEFT: #000 1px solid; WIDTH: 98%;  FONT-FAMILY: Arial, Times, "Times New Roman", serif; BORDER-COLLAPSE: separate; border-spacing: 0px 0px;margin:10px auto auto 10px
}
TABLE.common TR.header {
	PADDING-BOTTOM: 1px; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #668b8b 2px dashed; HEIGHT: 15px; BACKGROUND-COLOR: #ccc; TEXT-ALIGN: left;font-weight:bold;text-align:center
}
TABLE.common TR {font-weight:normal}
TABLE.common TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid;border-right:1px solid #000
}
TABLE.common TD.page {
	BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: right;border-bottom:1px solid #000
}
TABLE.common TR.header td a{color:#03F}

TABLE.form {
	BORDER-RIGHT: #668b8b 1px solid; TABLE-LAYOUT: auto; BORDER-TOP: #668b8b 1px solid; FONT-SIZE: 0.9em; BORDER-LEFT: #668b8b 1px solid; WIDTH: 100%; BORDER-BOTTOM: #668b8b 1px solid; FONT-FAMILY: Arial, Times, "Times New Roman", serif; BORDER-COLLAPSE: separate; border-spacing: 0px 0px
}
TABLE.form TR.header {
	FONT-WEIGHT: 900; FONT-SIZE: 11pt; PADDING-BOTTOM: 1px; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #668b8b 2px dashed; HEIGHT: 25px; BACKGROUND-COLOR: #b4cdcd
}
TABLE.form TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #eee 1px solid
}
TABLE.form TD.label {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: right
}
TABLE.detail {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left; border-spacing: 0px
}
TABLE.detail TD.header {
	PADDING-LEFT: 5px; FONT-WEIGHT: 600; FONT-SIZE: 9pt; HEIGHT: 26px; BACKGROUND-COLOR: #508545;color:#fff; vertical-align:bottom
}
TABLE.detail TD {
	TEXT-INDENT: 10px; BORDER-BOTTOM: #efefef 1px solid; HEIGHT: 25px
}
TABLE.detail TD.label {
	PADDING-LEFT: 5px; TEXT-INDENT: 0px; BACKGROUND-COLOR: #f7f7f7
}
TABLE.detail TD.bottom {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #CCC; vertical-align:bottom; TEXT-ALIGN: right
}
TABLE.sub {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left; border-spacing: 0px
}
TABLE.sub TR.header {
	PADDING-BOTTOM: 1px; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #668b8b 2px dashed; HEIGHT: 15px; BACKGROUND-COLOR: #b4cdcd; TEXT-ALIGN: left
}
TABLE.sub TD.out {
	TEXT-INDENT: 10px; BORDER-BOTTOM: #efefef 1px solid; HEIGHT: 25px
}
TABLE.sub TD.in {
	TEXT-INDENT: 10px; BORDER-BOTTOM: #efefef 1px solid; HEIGHT: 30px
}
TABLE.sub TD.label {
	PADDING-LEFT: 5px; TEXT-INDENT: 0px; BACKGROUND-COLOR: #f7f7f7
}
TABLE.sub TD.bottom {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #9c9c9c; TEXT-ALIGN: right
}

/*Magius Add*/

.topnav{ background:#f5f5f5; border-top:2px solid #ccc; line-height:25px;text-indent:15px;font-size:14px}
.topnav a, .topnav a:link{color:#063;font-size:14px}
.topnav a:visited{color:#333}
.topnav a:hover{color:#F60}
.topnav p{display:inline}